.game-board-section {
    & .rules-game-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        & p, ul {
            margin: 0;
        }
        & ul:last-child {
            margin-bottom: 10px;
        }
    }

    & .game-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;

        & .buttons-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}